
.button{
    background-color: red;
    border-color:black ;
}
.boto{
    background-color: red;
    border-color: black;
}
.click{
    background-color: red;
    border-color: black;
}
.brak{
    background-color: red;
    border-color: black;
    
}
.image{
    background-image: url(image.jpg);

}