*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
body{
    overflow-x:hidden;
}
header{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
}
div h2{
    font-size: 40px;
    font-weight: 900;
    color: #027d54;
    font-family: 'poppins','sans-serif';
    
}
div span{
    font-size: 10px;
    font-weight: 700;
    
}
button{
    
    border: none;
    padding: 10px;
    border-radius: 30px;
    background-color: white;
}
button:hover{
    background-color: gainsboro;
    cursor: pointer;
}
.nav1{
    display: flex;
    align-items: center;
    gap: 20px;
}
nav{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-right: 30px;
}

.abdo{
    margin-right: 20px;
    border: solid gray 1px;
    width: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 5px;
}
.image_1{
    width: 35px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    padding-top: 4px;
    background-color: #bab8b8;
}
.section_1{
    margin-top: 5px;
    width: 100%;
    height: 400px;
    background: url(anim.jpg) no-repeat;
}
.section_1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 30px;
}
.article_1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.article_1 h1{
    font-size: 50px;
    font-weight: 900;
}
.article_2{
    
    width: 600px;
    height: 70px;
    background-color: white;
    text-align: center;
    border-radius: 40px;
}
form{
    height: 100%;
}
.article_2 form{
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.article_2 form input{
    height: 90%;
    padding: 25px;
    border: none;
    color:black;
    
}


.article_2 form button{
    height: 70px;
}
form input{
    
    outline: none;

}
form input:hover{
    cursor: pointer;
    background-color: gainsboro;
    border-radius: 40px;
    width: 247px;
}
form .text_1{
    margin-left: -40px;
}
form .datetime-local{
    margin-right: -40px;
}
.section_2{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}
.title{
    width: 100%;
    height: 30px;
    text-align: center;
}
.title h3{
    font-size: 30px;
}
.section_2 .article{
    width: 150px;
    text-align: center;
    border-radius: 15px;
    height: 250px;
    transition: 0.5s;
    width: 200px;
}
.article:hover{
    background-color: #d0cece;
   transition: 0.5s;
}
article p{
    margin-top: 20px;
    font-weight: 700;
    font-size: 20px;
}
article span{
    letter-spacing: 2px;
    line-height: 1.5;
   
}
article img{
    padding: 10px;
    background-color: rgba(255, 149, 0, 0.393);
    border-radius: 50%;
}
.image{
    background-color: rgba(0, 255, 94, 0.507);
}
.image{
    background-color: rgba(241, 12, 12, 0.479);
}
.image{
    background-color: rgba(255, 255, 0, 0.53);
}

.section_3{
    width: 500px;
    height: 300px;
    margin: auto;
    
}