*{
    padding: 0;
    margin: 0;
    font-family: 'poppins', sans-serif;

}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    background-color: rgb(15, 12, 12);
    
}
h1{
    margin-left: 20px;
    color: white;
    
}
span{
    color: brown;
    
}
ul{
    display: flex;
    list-style: none;
   
}
li{
    padding-right:40px;
      
}
a{
    text-decoration: none;
    color: white;
    font-size: 19px;
}
.contact{
    
    padding: 5px 10px;
    border-radius: 20px;
    background-color: white;
    color: black;
}
a:hover{
    
    background-color: brown;
    padding: 5px 15px;
    border-radius: 20px;
     transition: 0.8s;
     color: black;
     font-weight: 700;
     

}
.contact:hover{
    background-color: brown;
    text-decoration: none;
    color: white;
    transition: 0.5s;
}
.container{
    width: 100%;
    height: 600px;
    padding-top: 30px;
    background-image: linear-gradient(black 20%, #010120,#0f022b);
}
.box{
    width:400px;
    height: 400px;
    border: solid 10px rgb(16, 16, 16);
    margin-left: 20px;
    border-radius: 20px;
}
.mini_box{
    width: 90px;
    height: 90px;
    border: solid rgb(159, 64, 64) ;
    border-radius: 20px;
    background-color:rgb(153, 44, 44);
    animation-name: box;
}
@keyframes box{
    

}